*{
    padding: 0;
    margin: 0;
}
.admin-signup{
    background-color: #22323e;
    /* background-color: #536879; */
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family:monospace;
}
.admin-signup > .admin-title{
    text-align: center;
    position: relative;
    top: 135px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    animation: popup .8s ease;
    z-index: 1;
}
@keyframes popup {
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(-0px);
        
    }
}
.img-cont{
    margin-top: 1.2px;
    width: 342px;
    height: 319.5px;
}
.img-cont > img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.admin-signup-form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.admin-signup-form{
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 60px 60px 60px;
    background-color: rgb(255, 255, 255);
    height: 290px;
    align-items: center;
    padding: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: .1s;
    transform: scale(1.1);
    position: relative;
    z-index: 2;
}
.admin-signup-form-cont > .admin-signup-form > label{
    color: black;
}
.admin-signup-form-cont > .admin-signup-form > input{
    outline: none;
    background-color: inherit;
    border: none;
    font-size: 13px;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.admin-signup-form-cont > .admin-signup-form > input:focus{
    border-bottom: 2px solid rgb(0, 0, 0);
}
.admin-signup-form-cont > .admin-signup-form > .submit-btn{
    border-radius: 10px;
    padding:5px;
    background-color: #22323e;
    border: none;
    transition: .5s;
    position: absolute;
    bottom: 15px;
    left: 140px;
    color: rgb(255, 255, 255);
    padding:10px 40px;
    box-shadow: 0 0 1px rgb(195, 189, 189);
}
.admin-signup-form-cont > .admin-signup-form > .submit-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgb(52, 48, 48);
    color: rgb(0, 0, 0);
}
.admin-signup > h5{
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 200px;
    left: 650px;
    z-index: 1;
    animation: popdown .8s ease;

}
@keyframes popdown {
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0px);
        
    }
}
.admin-signup a{
    text-decoration: none;
    transition: .5s;
    color: rgb(0, 255, 217);
}
.admin-signup a:hover{
    color: rgb(255, 0, 0);
}