*{
    padding: 0;
    margin: 0;
}
.user-login{
    background: url("../Images/userLogin.png");
    background-repeat: no-repeat;
    background-size:150%;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family:monospace;
}
.user-login > .user-title{
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.user-login-form-cont > .user-login-form{
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 50px 100px;
    align-items: center;
    background-color: rgba(224, 214, 214, 0.359);
    padding: 40px;
    box-shadow: 0 0 3px rgb(42, 40, 40);
    border-radius: 20px;
    transition: .1s;
    transform: scale(1.1);
    position: relative;
}
.user-login-form-cont > .user-login-form:hover{
    box-shadow: 0 0 10px rgba(198, 180, 180, 0.878);
}
.user-login-form-cont > .user-login-form > label{
    color: rgb(0, 0, 0);
}
.user-login-form-cont > .user-login-form > input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.user-login-form-cont > .user-login-form > input::placeholder{
    color: rgba(38, 42, 40, 0.848);
}
.user-login-form-cont > .user-login-form > input:focus{
    border-bottom: 2px solid black;

}
.user-login-form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.submit-btn{
    border-radius: 10px;
    padding: 8px 5px;
    background-color: #2E5077;
    border: none;
    transition: .5s;
    position: absolute;
    bottom: 15px;
    left: 140px;
    color: rgb(255, 255, 255);
    padding:10px 40px;
}
.submit-btn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.user-login > h5{
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 250px;
    left: 670px;
}
.user-login a{
    text-decoration: none;
    transition: .5s;
    color: orange;
    
}
.user-login a:hover{
    color: black;
}