*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-image: url("./netflix-bg.png");
    height: 100vh;
}
header > img{
    position: absolute;
}
.header-content{
    display: flex;
    padding: 10px 180px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    
}
.logo > svg{
    width: 150px;
    height: 150px;
    fill: rgb(229, 9, 20);
}
/* Language and sign-in */
.lang-sign > select{
    box-shadow: 0px 0px 0px rgb(99, 97, 97);
    background-color: rgba(99, 97, 97, 0.27);
    color: white;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: bold;
}
.lang-sign svg 
{
    color: white;
    position: absolute;
    top: 35px;
    right: 25.3%;

}
.lang-sign > button{
    border: 1px solid rgb(255, 0, 0);
    margin-left: 20px;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* Header Description */

.header-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* background-color: aqua; */
    height: 27%;
    margin-top: 180px;
}
/* .header-desc > h1, .header  h2, .header  h3{
    background-color: aqua;
} */
.header-desc > h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
}
.header-desc > h2{
    color: white;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 400;
}
.header-desc > h3{
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 300;

}
/* Email Registration */

.email-reg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 30px;
}
.email-reg > input{
    padding-left: 10px;
    outline: none;
    color: white;
    height: 55px;
    width: 350px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid whitesmoke;
    background-color: rgba(30, 27, 27, 0.821);
}
.email-reg > .reg-btn{
    background-color: rgb(229, 9, 20);;
    border: 1px solid red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 17px 75px 17px 30px;
    border-radius: 5px;
    text-align: center;
}
.email-reg > svg{
    position: relative;
    left: -70px;
    color: white;
}

/* Empty Space */

.empty-space{
    height: 8px;
    background-color: rgb(45, 45, 45);
}

/* television Descipition*/

.tele-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 80vh;
    padding: 10px 180px;
}
.tele-desc{
    width: 50%;
}
.tele-desc > h1{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}
.tele-desc > h2{
    font-size: 25px;
    font-weight: 400;
}
.tele-media > img{
    display: block;
    position: relative;
    width: 550px;
    z-index: 2;
    height: 400px;
}
.tele-media > video{
    /* display: none; */
    position: absolute;
    z-index: 1;
    top: 820px;
    right: 267px;
    width: 400px;
    height: 415px;

}

/* Offline Mode Section */

.offline-mode{
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 140px;
}
.download-process{
    position: absolute;
    display: flex;
    align-items: center;
    top: 1750px;
    left: 282px;
    border: 1px solid whitesmoke;
    height: 90px;
    width: 330px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}
.download-process img {
    width: 70px;
    height: 90px;
} 

.stranger-info{
    margin-left:15px; 
}
.stranger-info > h3{
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}
.stranger-info > h4{
    color: #0071eb;
    font-size: 13px;
}
.offline-desc > h1{
    color: white;
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
}
.offline-desc > h2{
    margin-top: 20px;
    color: white;
    font-weight: 400;
}

/* Watch Everywhere Area */

.watch-everywhere{
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.watch-desc{
    width: 50%;
    padding: 10px;
}
.watch-desc > h1{ 
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.watch-desc > h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}
.stream-media > img{
    position: relative;
    z-index: 1;
    width: 500px;
    height: 400px;
}
.stream-media > video{
    position: absolute;
    width: 310px;
    height: 250px;
    top: 2050px;
    left: 60%;

}
/* Children Section */

.children-section{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
    background-color: black;
}
.child-media > img{
    width: 550px;
    height: 450px;
}
.child-desc{
    color: white;
    width: 50%;
}
.child-desc > h1{
    margin: 20px 0px;
    font-size: 50px;
    font-weight: 700;
}
.child-desc > h2{
    font-size: 30px;
    font-weight: 500;

}

/* FAQ Section */

.faq-section{
    height: 120vh;
    padding: 10px 100px;
    background-color: black;
}
.faq-title  > h1{
    color: white;
    padding-top: 60px;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
}
.faq-list{
    height: 70vh;
    width: 90%;
    color: white;
    display: grid;
    grid-template-rows: 18% 18% 18% 18% 18% 18%;
    margin-left: 70px;
}
.faq-list > div{
    padding: 30px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(45,45,45);
    transition: .5s all;
    cursor: pointer;
    /* height: 23px; */
}
/* .faq-list > div:first-child{
    display: flex;
    padding: 30px 15px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(45,45,45);
    transition: .5s all;
    cursor: pointer;
    height: 100%;
} */
.faq-list > div:hover{
    background-color: rgba(65,65,65);
    
}
.faq-list h1{
    font-size: 25px;
    font-weight: 300;
}
.footer-login{
    margin-top: 80px;
}
.login-greet > h1{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Displaying full content */

/* Footer Section */

footer{
    height: 45vh;
    background-color: black;
    padding-left: 180px;
    padding-top: 80px;
}
.footer-head{
    width: 70%;
    /* background-color: aqua; */
    height: 30vh;
}
footer > div{
    color: rgb(204, 188, 188);
}
.query-call{
    /* background-color: aqua; */
    height: 40px;
    margin-bottom: 10px;
}
.query-call h2{
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}
.query-call b{
    border-bottom: 1px solid rgba(255, 255, 255,0.7);
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-links span{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    font-size: 15px;
    font-weight: lighter;
}

.footer-lang > select{
    box-shadow: 0px 0px 0px rgb(99, 97, 97);
    background-color: rgba(99, 97, 97, 0.27);
    color: white;
    padding: 7px 25px;
    border-radius: 3px;
    font-weight: bold;
}
.footer-lang svg {
    color: white;
    position: absolute;
    top: 4395px;
    left: 12.5%;
}
.footer-br-name{
    margin-top: 22px;
}
.footer-br-name > h1{
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}